 

:root {
    --brand-color: #2E2F42;
    --color1:#4D5AE5;
    --color2:#434455;
    --color3:#F4F4FD;
    --color4:#FFFFFF;
    --color5: #404BBF;
    --color6: #E7E9FC;
    --flex-element-gap:10px;
    --flex-shadow:0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ============= Додаткові параметри скидання стилів ============= */

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}


body {
    background-color: var(--color4);
}


/* Створений загальний контейнер */

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.section {
    padding-right: 156px;
    padding-left: 156px;
}

/* ============= Позіціонування контенту index.html============= */

.header-container {
    display: flex;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 24px;

    border-bottom: 0.5px solid var(--color3);
}

.header-menu {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.secondary-link {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.contacts-logo {
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;

    align-items: center;
    letter-spacing:0.03;
    text-transform: uppercase;
}
 
.contacts-logo-one {
    margin-right: 77px;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    
     align-items: center;
     letter-spacing: 0.03;
    text-transform: uppercase;
}


.link .item:not(:last-child) {
    margin-right: 40px;
}
 
.secondary-link .item + .item {
margin-left: 40px;
}

.text-title .title {
    margin-bottom: 8px;

    width: 264px;
}

 .no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-title {
    display: flex;
    align-items: center;
}

.title-list:not(:last-child) {
    margin-right: 24px;
}

.text {
    padding-top: 96px;
    padding-bottom: 120px;
}

.text-img {
    padding-bottom: 120px;
}

.text-img .list-img {
    margin-top: 72px;

    display: flex;
    align-items: center; 
}

.text-img .list-img-li:not(:last-child) {
    margin-right: 24px;
}

.secondary-text {
    padding-top: 120px;
    padding-bottom: 120px;
}

.secondary-text-title {
    margin-bottom: 72px;
}

.secondary-text-img {
    display: flex;
    align-items: center;
    text-align: center;
}

.img:not(:last-child) {
    margin-right: 24px;
}

.img-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

.img {
    gap: 32px;

    width: 264px;
}

.bottom {
    padding-top: 100px;
    padding-bottom: 100px;

    left: 0px;
    top: 2283px;
}

.bottom-text {
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2421px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
}




/* ============= Позіціонування контенту index.html =============*/


/* ============= Позиціонування контенту portfolio.html ============= */

.menu-button {
    margin-bottom: 72px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu-button .button-navigation:not(:last-child) {
margin-right: 24px;
}

/* Test-container img */

.flex-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc( -1 + var(--flex-element-gap));    
    margin-left: calc(-1 + var(--flex-element-gap));   
}

.flex-element:not(:nth-child(3n)) {
    margin-right: 24px;
}
 
.flex-element:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}

.flex-img {
    display: block;
    max-width: 100%;
}

.flex-h3 {
    margin-bottom: 8px;
}

.flex-content {
    padding: 32px 16px;

    border: 0.5px solid var(--color3);
    border-top: none;
}


/* Test-container img */



/* ============= Позиціонування контенту portfolio.html ============= */

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;


    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color1);
}

.logo-two {
    color: var(--brand-color);
}

body {
font-family: "Roboto", sans-serif;
color: var(--brand-color);
}


/* ============= Main navigation ============= */

.link {
    text-decoration: none;

    background-color: var(--color4);
}

.link a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    color: var(--brand-color);
}

.secondary-link a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #434455;
    background-color: var(--color4);
}
    
/* ============= Main navigation ============= */


/* ============= Hover and focus ============= */

.contacts {
    color: var(--brand-color);
}

.contacts:hover {
    color: var(--color1);
}

.contacts:focus {
    color: var(--color1);
}
.link .contacts:focus {
    color: var(--color1);
}

.secondary-link:focus {
    color: var(--color1);
}

.contacts-inform {
    color: var(--brand-color);
}

.contacts-inform:hover {
    color: var(--color1);
}

.contacts-inform:focus {
    color:var(--color1)
}

.contacts-inform-tel {
    color: var(--brand-color);
}

.contacts-inform-tel:hover {
    color: var(--color1);
}

.contacts-inform-tel:focus {
    color: var(--color1);
}


/* ============= Hover and focus ============= */


.main-pointer {
    padding-bottom: 192px;

    align-items: flex-start;
    flex-direction: row;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.04em;

    color: var(--color4);
    background-color: var(--color1);
 }

.main-pointer:hover {
    background-color: var(--color5);
}

.main-pointer:focus {
    background-color: var(--color5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
    height: 603px;
    
    background-color: var(--brand-color);
}

.buttom .contacts:focus {
    color: var(--color1);
}

.hero-logo {
    margin-bottom: 48px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1;
    letter-spacing: 0.02em;

    color: var(--color4);
}


/* ============= Feauters section ============= */

.text h3 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--brand-color);
}

.text p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02;

    color: var(--color2);
}

.text-img h2 {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--brand-color);
}


/* ============= Feauters section ============= */


/* ============= Page footer ============= */

.secondary-text {
    background-color: var(--color3);
}

.img {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color4);
}

.secondary-text h2 {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--brand-color);
}

.secondary-text h3 {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--brand-color);
}

.secondary-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color2);
}

.bottom {
    background-color: var(--brand-color);
}

.bottom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color6);
}

.logo-two-bottom {
    color: var(--color3);
 }

/* ============= Page footer ============= */



/* ============= PORTFOLIO.HTML  Main navigation ============= */


.pointer { 
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 24px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: var(--color1);
    border: 1px solid var(--color6);
    background-color: var(--color3);
}

.pointer:hover {
    color: var(--color4);
    background-color: var(--color1);
}

.pointer:focus {
    background-color: var(--color1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pointer { cursor: pointer; } 



